
/* Use these custom variables... */
:root {
    --polka-bg-image:
      radial-gradient(#23232380 10%, transparent 3.6%),
      radial-gradient(#23232380 10%, transparent 3.6%);
    --polka-bg-position: 0px 0px, 12px 12px;
    --polka-bg-size: 24px 24px;
    --polka-bg-color: rgb(10, 10, 10);
  }
  
  /* ...or add this class to an element */
  .polka {
    background-image: 
      radial-gradient(#23232380 10%, transparent 3.6%),
      radial-gradient(#23232380 10%, transparent 3.6%);
    background-position: 0px 0px, 12px 12px;
    background-size: 24px 24px;
    background-color: rgb(10, 10, 10);
  }